# Hooks
[submodule "pb_hooks"]
	path = pb_hooks
	url = https://github.com/pocketstore-io/pb_hooks.git
	branch = main

# Data for Pocketbase
[submodule "pb_data"]
	path = pb_data
	url = https://github.com/pocketstore-io/pb_data.git
	branch = main

# Storefront, extendable by Custom
[submodule "storefront"]
	path = storefront
	url = https://github.com/pocketstore-io/storefront.git
	branch = main

# PB Migrations
[submodule "pb_migrations"]
	path = pb_migrations
	url = https://github.com/pocketstore-io/pb_migrations.git
	branch = main

# Printer
[submodule "printer"]
	path = printer
	url = https://github.com/pocketstore-io/printer.git
	branch = main